<template>
    <header class="header">
        <div class="container-fluid">
            <div class="header__title">
                <Slogan :program="program" :preload="preload" />
            </div>
        </div>

        <alert :position="'fixed'"/>

    </header>
</template>

<script>
    import Slogan from "@/components/program/header/Slogan"
    import alert from "../../../layouts/alert/index";
    export default {
        name: "Header",
        props: ['program', 'preload'],
        components: {
            Slogan,
            alert
        },

    }
</script>

<style lang="scss" scoped>
    .header {
        background: #FBFBFB;
        padding: 35px 0 30px;

        @media (min-width: 768px) {
            padding: 35px 0 40px;
        }
        @media (min-width: 1200px) {
            padding: 40px 0 70px;
        }
        @media (min-width: 1500px) {
            padding: 70px 0 108px;
        }
    }
</style>
