<template>
    <article class="slogan">
        <router-link to="/training" class="slogan__back">
            <img src="@/assets/images/programs/chevron-right.svg" />
            <span>все программы</span>
        </router-link>

        <div class="slogan__join-message" v-if="statusAutoregRegister">
            <img src="@/assets/images/programs/success.svg" />
            <span><b>{{userData.name}} {{userData.middle_name}}, </b>вы успешно записаны на курс</span>
        </div>

        <h1 class="slogan__title" :class="[{'slogan__is-placeholder': this.preload}, headerLengthClass]">
            {{ !this.triggerToSlug ? listInfo.title : program.title }}
        </h1>

        <div class="slogan__badges" :class="{'slogan__is-placeholder': this.preload}">

            <div v-if="zet" class="slogan__badge">
                <img src="@/assets/images/programs/medal.svg">
                <span v-html="zet" />
            </div>

            <div v-if="videosNum" class="slogan__badge">
                <img src="@/assets/images/programs/video.svg">
                <span v-html="videosNum"></span>
            </div>

            <div v-if="testsNum"  class="slogan__badge">
                <img src="@/assets/images/programs/check-list.svg">
                <span v-html="testsNum"></span>
            </div>


        </div>

        <StartButton :program="program" />

    </article>
</template>

<script>
    import {num2str} from "@/plugins/globalMethods.js";
    import * as auth from "@/stores/modules/auth/types"
    import loader from "@/components/loader/index"
    import StartButton from "../StartButton";



    export default {
        name: "Slogan",
        components: { StartButton },
        comments: {
            loader
        },
        data() {
            return {
                statusAutoregRegister: false,
                listInfo: {
                    title: ""
                },
                triggerToSlug: false,
                toSmall: false,
                userData: {
                    name: "",
                    middle_name : "",

                }
            }
        },
        props: ['program', 'preload'],
        computed: {
          zet() {
              const number = !this.triggerToSlug ? this.listInfo.zet : this.program.zet;
              return number ? `${number}&nbsp;${num2str(number, ["балл", "балла", "баллов"])} НМО (ЗЕТ)` : "";
          },
          videosNum() {
              const number = !this.triggerToSlug ? this.listInfo.video_count : this.program.video_count;
              return number ? `${number}&nbsp;${num2str(number, ["интерактивный видеоурок", "интерактивных видеоурока", "интерактивных видеоуроков"])}` : "Интерактивные видеоуроки";
          },
          testsNum() {
              const number = !this.triggerToSlug ? this.listInfo.tests_count : this.program.tests_count;
              return number ? `${number}&nbsp;${num2str(number, ["проверочный тест", "проверочных теста", "проверочных тестов"])}` : "1 проверочный тест";
          },
          headerLengthClass() {
              const header = !this.triggerToSlug ? this.listInfo.title : this.program.title;
              if (this.$mq === 'lg') {
                  if (header.length > 70) {
                      return "slogan__title--long";
                  } else if (header.length > 30) {
                      return "slogan__title--medium";
                  } else {
                      return "slogan__title--short";
                  }
              } else {
                  if (header.length > 60) {
                      return "slogan__title--long";
                  } else if (header.length > 25) {
                      return "slogan__title--medium";
                  } else {
                      return "slogan__title--short";
                  }
              }

          }
        },
        methods:{
        },
        mounted() {
            const statusFromUrlAutoReg = this.$store.getters["auth/getStatusAutoregRegister"];
            this.$store.dispatch("auth/" + auth.A_GET_USER_DATA_AUTOREG)
            .then(res => {
                console.log(res, "AUTOREG")
                this.userData.name = res.name;
                this.userData.middle_name = res.middle_name;
                if (statusFromUrlAutoReg.status === true && statusFromUrlAutoReg.slug == this.$route.params.id){
                this.statusAutoregRegister = true
                } else {
                    this.statusAutoregRegister = false
                }
            })

            let maxLength = 80;

            // геттер на данные из стора которые записываются при клике из списка
            this.listInfo = this.$store.getters["global/getBackProgramInfo"]

            // тест на пустоту объекта
            let emptyTest = isEmpty(this.listInfo)

            function isEmpty(obj) {
                for (let prop in obj) {
                    if (obj.hasOwnProperty(prop)) {
                        return false;
                    }
                }
                return JSON.stringify(obj) === JSON.stringify({});
            }

            // фильтр при обновлении страницы
            if (emptyTest === true) {
                this.triggerToSlug = true;
                let titleProgramLength = JSON.stringify(this.program.title).length;

                // мы c програмы
                if (titleProgramLength > maxLength) {
                    this.toSmall = true;
                }
            } else {
                let titleListLength = JSON.stringify(this.listInfo.title).length;
                // мы c листе
                if (titleListLength > maxLength) {
                    this.toSmall = true;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

    .slogan {
        &__is-placeholder {
            // state
            opacity: 0 !important;
        }
        &__back {
            display: flex;
            align-items: center;
            margin-bottom: 35px;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.07em;
            color: #2F80F3;
            text-transform: uppercase;

            &:hover {
                color: darken(#2F80F3, 20);
            }

            img {
                display: block;
                margin-right: 14px;
            }

            @media (min-width: 768px) {
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.07em;
                margin-bottom: 25px;
            }

            @media (min-width: 1200px) {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.07em;
                margin-bottom: 35px;
            }

            @media (min-width: 1500px) {
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.07em;
                margin-bottom: 76px;
            }
        }

        &__join-message {
            display: flex;
            align-items: center;
            margin-bottom: 31px;

            @media (min-width: 768px) {
                margin-bottom: 46px;
            }

            @media (min-width: 1200px) {
                margin-bottom: 56px;
            }

            img {
                width: 32px;
                margin-right: 11px;

                @media (min-width: 768px) {
                    width: 40px;
                    margin-right: 20px;
                }

                @media (min-width: 1200px) {
                    width: 52px;
                    margin-right: 32px;
                }
            }

            span {
                font-size: 16px;
                line-height: 122.34%;

                @media (min-width: 768px) {
                    font-size: 24px;
                    line-height: 122.34%;
                }

                @media (min-width: 1200px) {
                    font-size: 40px;
                    line-height: 122.34%;
                }

                b {
                    display: block;
                    white-space: nowrap;

                    @media (min-width: 768px) {
                        display: inline;
                    }
                }
            }
        }

        &__title {
            min-height: 100px;
            margin-bottom: 40px;
            font-weight: bold;
            color: #242424;
            line-height: 120%;
            transition: opacity 1s ;

            @media (min-width: 768px) {

            }
            @media (min-width: 1200px) {
                margin-bottom: 40px;
            }
            @media (min-width: 1500px) {
                margin-bottom: 83px;
            }

            &--short {
                font-size: 2.1em;

                @media (min-width: 768px) {
                    font-size: 5.5em;
                    line-height: 130%;
                }

                @media (min-width: 1200px) {
                    font-size: 4em;
                }
            }

            &--medium {
                font-size: 1.6em;

                @media (min-width: 768px) {
                    font-size: 3.5em;
                }

                @media (min-width: 1200px) {
                    font-size: 3.6em;
                }
            }

            &--long {
                font-size: 1.02em;

                @media (min-width: 768px) {
                    font-size: 2.4em;
                }

                @media (min-width: 1200px) {
                    font-size: 2.2em;
                }
            }
        }

        &__badges {
            margin-bottom: 23px;
            display: flex;
            opacity: 1;
            transition: all 1s ;

            @media (min-width: 768px) {
                margin-bottom: 35px;
            }

            @media (min-width: 1200px) {
                margin-bottom: 50px;
            }

            @media (min-width: 1500px) {
                margin-bottom: 83px;
            }

        }

        &__badge {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 33.33%;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            color: #242424;

            img {
                flex-grow: 1;
                margin-bottom: 5px;
            }

            @media (min-width: 768px) {
                height: 100px;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                max-width: 157px;
                flex-basis: unset;
                margin-right: 64px;
            }

            @media (min-width: 1200px) {
                flex-direction: row;
                align-items: center;
                height: 55px;
                font-weight: 500;
                font-size: 23px;
                line-height: 30px;
                margin-right: 92px;
                max-width: none;

                img {
                    margin-right: 24px;
                    height: 100%;
                }

                span {
                    display: block;
                    max-width: 196px;
                    text-align: left;
                }
            }

            @media (min-width: 1500px) {
                height: 60px;
                font-size: 25px;
            }
        }
    }

</style>
