.training-content {
    //padding: 30px 50px 50px;

    &.content-full-width {
        padding: 50px 0;
    }

    .training-headline {
        font-size: 20px;
        margin-bottom: 18px;
        padding-top: 20px;
    }

    .programs {
        .card-program-empty {
            margin-top: 30px;
        }

        .program-view-section {
            margin-top: 20px;
            //display: grid;
            //grid-template-columns: 1fr 1fr 1fr;
            //grid-gap: 45px;

            /deep/ .card {
                border-radius: 7px;
                background-color: #FFFFFF;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
            }

            /deep/ .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: unset;
            }

            .card-view {
                .headline {
                    padding: 1.5rem;
                    display: grid;
                    grid-template-columns: 1fr;

                    h4 {
                        text-align: start;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 20px;
                        color: #525F7F;
                        margin: 0;
                        padding: 0;
                    }

                    /deep/ .badge-secondary {
                        color: #FFFFFF;
                        background-color: #2b2b58;
                        justify-self: end;
                    }
                }

                .toggle-invoice-enter-active, .toggle-invoice-leave-active {
                    transition: linear .3s;
                }

                .toggle-invoice-enter, .toggle-invoice-leave-to {
                    opacity: 0;
                }
            }

            .card-view-content {
                display: flex;
                justify-content: space-between;
                //align-items: flex-start;
                padding: 1.5rem;
                align-items: stretch;

                .card-logo {
                    margin-left: 15px;

                    img {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                    }
                }

                .card-view-text {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;

                    p {
                        color: #525F7F;
                        font-size: 15px;
                        line-height: 15px;
                        text-align: start;
                        margin: 10px 0;
                    }

                    .card-number {
                        padding-top: 30px;
                        display: flex;
                        align-items: center;


                        p {
                            font-weight: 900;
                            font-size: 30px;
                            color: #2C86FF;
                            position: relative;
                            line-height: 1em;

                            &:after {
                                content: 'руб.';
                                font-size: 16px;
                                line-height: 20px;
                                display: inline-block;
                                vertical-align: top;
                                margin-left: 4px;
                            }
                        }
                    }
                }

                .card-info {
                    .detailed {
                        padding-top: 20px;
                        margin-left: 15px;

                        button {
                            font-family: sans-serif;
                            padding: 5px 10px;
                            font-size: 14px;
                            border: 1px solid #2C86FF;
                            background: transparent;
                            border-radius: 5px;
                            color: #2C86FF;
                            transition: .2s all;
                            font-weight: 700;

                            &:hover {
                                background: #2C86FF;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }

            .card-date {
                border-top: 1px solid #525F7F;
                display: grid;
                grid-template-columns: 1fr 1fr;

                .card-date-number {
                    padding: 15px 15px;
                    //padding-top: 15px;
                    //border-right: 1px solid #525F7F;
                    h5 {
                        color: #2e2e57;
                        font-size: 13px;
                        text-align: start;
                        margin: 0;
                    }

                    p {
                        color: #2C86FF;
                        padding-right: 20px;
                        white-space: nowrap;
                        font-size: 14px;
                        text-align: start;
                        margin: 0;
                    }
                }

                //.card-period{
                //    padding: 15px 15px;
                //    display: flex;
                //    align-items: flex-end;
                //    justify-content: center;
                //    h5 {
                //        color: #525F7F;
                //        font-size: 16px;
                //    }
                //}
                .card-view {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 15px;
                    vertical-align: middle;

                    h5 {
                        cursor: pointer;
                        color: #525F7F;
                        font-size: 16px;
                    }
                }
            }

            .invoice-btn-group {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: #fff;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
                height: 0;
                opacity: 0;
                display: none;
                align-items: center;
                justify-content: space-evenly;
                overflow: hidden;
                padding: 7px 0;
                border-top: 1px solid #525F7F;

                &.active {
                    display: flex;
                    height: auto;
                    bottom: -38px;
                    opacity: 1;
                }
            }
        }
    }

    /deep/ .modal-dialog {
        max-width: 1150px;
    }

    .popup {
        /deep/ .btn-primary {
            background-color: #2C86FF;
            border-color: #2C86FF;
        }

        .headline {
            padding-top: 20px;
            display: flex;
            justify-content: space-between;

            .modal-title {
                font-size: 30px;
                color: #525F7F;
            }

            .close-modal {
                position: absolute;
                top: 5px;
                right: 10px;
                color: #525F7F;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    color: #202531;
                }
            }
        }

        .wrap-price-date {
            padding-top: 25px;
            display: flex;
            align-items: center;

            .bg-effect-date {
                border-radius: 4px;
                background-color: #efefef;
                padding: 10px 20px;
                width: max-content;
                height: max-content;

                h5 {
                    margin-bottom: 0;
                    font-size: 13px;
                    color: #6E6E6F;
                }

                p {
                    margin-bottom: 0;
                    font-size: 15px;
                    color: #6E6E6F;
                }
            }

            .price {
                margin-left: 50px;

                h4 {
                    padding-bottom: 5px;
                    border-bottom: 1px solid #525F7F;
                    font-weight: bold;
                    font-size: 18px;
                    color: #525F7F;
                    text-align: center;
                }
            ;

                h2 {
                    font-size: 30px;
                    color: #525F7F;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }
        }

        .list {
            padding-top: 30px;

            ul {
                li {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .blocks {
        .blocks-view-section {
            margin-top: 60px;
            display: grid;
            //grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
            grid-gap: 30px;

            /deep/ .card {
                border-radius: 7px;
                background-color: #FFFFFF;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
            }

            /deep/ .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: unset;
            }

            .yellow {
                /deep/ .card-body {
                    border-top: 5px solid #ffc506;
                    border-radius: 7px;
                }
            }

            .blue {
                /deep/ .card-body {
                    border-top: 5px solid #5E72E4;
                    border-radius: 7px;
                }
            }

            .green {
                /deep/ .card-body {
                    border-top: 5px solid #2dce89;
                    border-radius: 7px;
                }
            }

            .card-view {

                .headline {
                    padding: 1.5rem;

                    h4 {
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 20px;
                        color: #525F7F;
                        margin: 0;
                        padding: 0;
                    }
                }

                .card-view-text {
                    padding: 0 25px 25px;

                    p {
                        color: #525F7F;
                        font-size: 16px;
                        line-height: 15px;
                        text-align: justify;
                    }
                }

                .card-view {
                    border-top: 1px solid #525F7F;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 0;

                    h5 {
                        cursor: pointer;
                        color: #525F7F;
                        font-size: 13px;
                        margin: 0;
                    }
                }
            }
        }

        .documents {

        }
    }

    .element-content {
        padding: 10px 50px;

        .element-view-section {
            .f-between {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }

            h3.element-headline {
                margin: 15px;
                font-size: 20px;
            }

            .element-cards {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                grid-gap: 30px;
            }

            /deep/ .card {
                border-top: 5px solid #5E72E4;
                border-radius: 7px;
                background-color: #FFFFFF;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
                overflow: hidden;
                transition: .2s all;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: top center;

                &:hover {
                    box-shadow: 0 1px 12px 1px rgba(0, 0, 0, 0.2);
                    //transform: scale(1.001);
                }

                &.warning {
                    border-top: 5px solid #ffc506;
                }

                &.success {
                    border-top: 5px solid #2dce89;
                }

                &.inmiddlestatus {
                    border-top: 5px solid #ffc506;
                }

                &.danger {
                    border-top: 5px solid red;
                }

                & .footer {
                    background-color: #FFFFFF;

                }

                .headline {
                    h3 {
                        font-family: sans-serif;
                        color: #2b2b58;
                        font-size: 15px;
                        font-weight: 300;
                    }

                }
            }

            /deep/ .card-body {
                padding: unset;
            }

            .card {
                /deep/ .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .headline {
                    p {
                        color: #2b2b58;
                        padding: 1.5rem;
                        font-size: 15px;
                        width: 100%;
                        overflow-wrap: break-word;
                        text-transform: none;
                    }
                }

                .footer-wrap {
                    display: contents;

                    .footer-head {
                        width: 100%;
                        margin-top: 15px;
                        padding: 0 10px;

                        h3 {
                            font-size: 15px;
                            margin: 0;
                        }
                    }

                    .footer {
                        //border-top: 1px solid #525F7F;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 0;
                        flex-direction: column;


                        span {
                            width: 100%;
                            border-top: 1px solid #525F7F;
                            padding-top: 5px;
                            margin: 0;
                            margin-top: 7px;
                            cursor: pointer;
                            color: #525F7F;
                            font-size: 18px;
                        }
                    }
                }
            }

            .users-documents {
                .element-cards {
                    .footer {
                        padding: 8px 0;
                        border-top: 1px solid #525F7F;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &.content-full-width {

        .training-progress-wrap {
            padding: 0 50px;
        }
    }

    .training-progress-wrap {
        display: flex;
        align-items: center;
        //margin-bottom: 20px;

        .training-progress {
            display: flex;
            align-items: center;
            font-size: 14px;

            .progress-step {
                cursor: pointer;
                font-size: 13px;
                font-weight: 600;
                color: #2C86FF;
            }

            .progress-line {
                background-color: #5E72E4;
                width: 40px;
                height: 1px;
                margin: 0 4px;
            }
        }
    }
}

.training-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, auto));
    grid-gap: 15px;

    .card {
        position: relative;

        .training-correct {
            position: absolute;
            top: 0;
            right: 0;
            line-height: normal;
            padding: 7px 7px 0 0;

            /deep/ .badge-success, .badge-warning {
                background-color: #2b2b58;
                color: #ffffff;
            }

            ///deep/.badge-warning {
            //        background-color: rgb(254, 201, 189);
            //}
        }


        .headline {
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: top center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            font-size: 22px;
            font-weight: 600;
            transition: all .2s;
        }

        .block-is-none {
            position: absolute;
            bottom: 26%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: all .5s;
        }

        &.disabled-block {
            cursor: default;
            background-color: rgba(0, 0, 0, 0.1);

            .footer {
                z-index: -1;
            }
        }

        //&:not(.disabled-block):hover{
        //    .card-view{
        //        top: -50%;
        //        transform: translateY(50%);
        //        border-top: none;
        //        a{
        //            color: #FFFFFF;
        //            font-size: 22px;
        //            line-height: 18px;
        //        }
        //    }
        //    .headline{
        //        opacity: 0;
        //    }
        //    .block-is-none {
        //        opacity: 1;
        //        bottom: 50%;
        //        transform: translateX(-50%) translateY(50%);
        //    }
        //}
    }
}

.training-views-content {
    display: grid;
    grid-template-columns: 1fr auto;

    .finish-btn-wrap {
        padding: 50px 40px 0 0;
    }

    /deep/ .test-list {
        padding-top: 50px;
    }

    /deep/ .loader-wrap {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /deep/ .result-wrap .loader-wrap {
        position: static;
    }

    /deep/ .result-wrap {
        padding: 50px 40px;
    }
}

.programs, .blocks, .element {
    //padding: 40px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;

    /deep/ .card-body {
        text-align: center;

        & .block-is-none {
            margin-top: 20px;
        }
    }
}

.no-data.card {
    position: static;
    cursor: unset;

    .no-data-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        font-size: 22px;
        font-weight: 600;
    }

    /deep/ .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        .headline {
            opacity: 1;
        }
    }
}

.bill-modal {
    /deep/ .modal-dialog {
        width: 700px;
    }

    /deep/ .modal-content {
        height: 583px;

    }

    .bill-modal {
        margin-bottom: 10px;

        h3 {
            padding: 0 10px;
            font-size: 18px;
            line-height: 18px;
            color: #525f7f;
            font-weight: 400;
        }
    }

    /deep/ .modal-content {
        & .modal-header {
            padding-bottom: 0;
        }

        & .modal-body {
            padding: 0 20px;

            .form-wrap {

                .paragraph {
                    position: relative;

                    &.required:after {
                        content: "*";
                        position: absolute;
                        top: 3px;
                        right: 0;
                        font-size: 18px;
                        line-height: normal;
                        color: #fb6340;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 15px;
                        line-height: 18px;
                    }

                    & .form-group {
                        margin-bottom: 10px;
                    }

                    & .form-control {
                        height: 39px;
                        padding: 8px 10px;
                    }
                }

                .grid-between {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    justify-content: space-between;
                    grid-gap: 15px;
                    margin-bottom: 10px;

                    & .input-error-text {
                        bottom: -10px;
                    }
                }
            }
        }

        & .modal-footer {
            padding-top: 0;
        }
    }
}

.all-pay-modal {
    /deep/ .modal-content {
        height: 870px;
        overflow: auto;
        padding: 79px 96px 54px;
        @media (max-width: 576px) {
            padding: 25px 15px 15px 15px;
        }
        position: relative;
    }

    /deep/ .modal-body {
        position: unset;
        padding: 0;
    }

    /deep/ .modal-dialog {
        max-width: 900px;
    }

    .close-modal {
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 24px;

        .close-style {
            width: 16px;
            height: 16px;
            stroke: #484848;
            transition: all .1s;

            &:hover {
                stroke: #191919;
            }
        }
    }

    .modal-title {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 20px;
        color: #242424;
        margin-bottom: 39px;
    }

    .modal-subtitle {
        display: grid;
        grid-template-columns: 1fr auto;
        //align-items: center;
        //display: flex;
        //flex-direction: row;
        //flex-wrap: wrap;
        //justify-content: space-between;
        padding-bottom: 18px;
        border-bottom: 1px solid #E4E4E4;

        .subtitle-text p {

            font-family: SF Pro Display;
            font-weight: normal;
            font-size: 20px;
            line-height: 20px;
            color: #242424;
        }

        .subtitle-sum p {
            margin-left: 30px;
            font-family: SF Pro Display;
            font-weight: 600;
            font-size: 24px;
            line-height: 20px;
            color: #242424;
        }
    }

    .radio-pay-wrap {
        display: flex;
        align-items: center;
        margin-top: 32px;

        p {
            font-family: SF Pro Display;
            font-weight: normal;
            font-size: 20px;
            @media (max-width: 576px) {
                font-size: 17px;
            }
            line-height: 20px;
            color: #96A4B9;
        }

        .pay-myself.active {
            P {
                color: #242424;
            }
        }

        .pay-organization.active {
            p {
                color: #242424;
            }
        }

        input {
            display: none;
        }

        label {
            position: relative;
            width: 49px;
            height: 26px;
            border: 1px solid #2F80F3;
            border-radius: 34px;
            margin: 0 20px;
        }

        label:after {
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #2F80F3;
            transition: all .3s;
        }

        input:checked + label:after {
            left: 24px;
            transition: all .3s;
        }
    }

    .bill-modal-radio-btn {
        margin-top: 45px;
        display: flex;

        .tab-btn {

            @media (max-width: 576px) {
                margin: 0;
                display: flex;
            }

            input {
                display: none;
            }

            input:checked + label {
                border: 1px solid #2F80F3;
            }

            label {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 0;
                margin-left: 26px;
                @media (max-width: 576px) {
                    margin-left: 8px;
                }
                width: 138px;
                height: 138px;
                @media (max-width: 576px) {
                    width: 85px;
                    height: 100px;
                }

                position: relative;
                font-size: 18px;
                line-height: 18px;
                color: #525f7f;
                cursor: pointer;
                background-color: #F9FAFD;

                &.no-margin {
                    margin-left: 0;
                }

                img {
                    @media (max-width: 576px) {
                        width: 30px;
                    }
                }


                p {
                    font-family: SF Pro Display;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 20px;
                    text-align: center;
                    color: #242424;
                    width: 80%;
                    @media (max-width: 576px) {
                        font-size: 13px;
                        line-height: 14px;
                        margin-top: 8px;
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }

    .radio-btn-pay-wrap {
        .organization {
            .checkbox {
                margin: 42px 0;

                /deep/ .custom-checkbox {
                    .custom-control-input ~ .custom-control-label {
                        font-family: SF Pro Display;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 22px;
                        color: #242424;
                    }

                    .custom-control-input:checked ~ .custom-control-label:before {
                        background: #2F80F3;
                    }
                }
            }

            .form-wrap {
                .paragraph {
                    position: relative;

                    &.required:after {
                        content: "*";
                        position: absolute;
                        top: 3px;
                        right: 0;
                        font-size: 18px;
                        line-height: normal;
                        color: #fb6340;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: 15px;
                        line-height: 18px;
                    }

                    & .form-group {
                        margin-bottom: 10px;
                    }

                    & .form-control {
                        height: 39px;
                        padding: 8px 10px;
                    }
                }

                .grid-between {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;
                    justify-content: space-between;
                    grid-gap: 15px;
                    margin-bottom: 10px;

                    & .input-error-text {
                        bottom: -10px;
                    }
                }
            }

            .organization-btn {
                margin-top: 24px;

                button {
                    font-family: SF Pro Display;
                    width: 100%;
                    border: none;
                    background: #2F80F3;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 22px 0;
                }
            }
        }
    }

    .checked-radio-btn-wrap {
        margin-top: 45px;

        .form-wrap-other {
            .loader-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 30vh;
            }
        }

        .expose-score {
            .paragraph {
                position: relative;

                &.required:after {
                    content: "*";
                    position: absolute;
                    top: 3px;
                    right: 0;
                    font-size: 18px;
                    line-height: normal;
                    color: #fb6340;
                }

                p {
                    margin-bottom: 0;
                    font-size: 15px;
                    line-height: 18px;
                }
            }

            .checkbox-mail {
                margin: 55px 0 45px;

                /deep/ input:checked ~ .custom-control-label::before {
                    background: #2F80F3;
                }

                /deep/ .custom-checkbox .custom-control-input ~ .custom-control-label {
                    font-family: SF Pro Display;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 22px;
                    color: #242424;
                }

                .paragraph {
                    margin-top: 20px;
                }
            }

            .expose-score-btn {
                button {
                    font-family: SF Pro Display;
                    width: 100%;
                    border: none;
                    background: #2F80F3;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 22px 0;
                    transition: background .3s ease, box-shadow .3s ease, color .2s ease;
                    &:first-child:hover {
                        background: #2F80F3;
                        box-shadow: 0px 4px 32px rgba(47, 128, 243, 0.48);
                    }
                    &:first-child:active {
                        background: #1E6FE1;
                        box-shadow: 0px 4px 32px rgba(47, 128, 243, 0.48);
                    }
                }

                .download-invoice {
                    background: transparent;
                    border: 1px solid #2F80F3;
                    color: #242424;
                    margin-top: 8px;
                }

                button:disabled {
                    background: #3188ffaa;
                }


            }
        }

        .cash-payment {
            .headline {
                h3 {
                    font-family: SF Pro Display;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 22px;
                    color: #242424;
                }
            }

            .icon {
                @media (max-width: 800px) {
                    display: flex;
                    flex-direction: column;
                }
                width: 100%;
                height: auto;
                margin-top: 30px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-items: center;
                img{
                    @media (max-width: 800px) {
                        margin-top: 30px;
                        &:last-child{
                            margin-bottom: -100px;
                        }

                    }
                }
            }

            .cash-payment-btn {
                //margin-top: 52px;
                height: 200px;
                display: flex;
                align-items: flex-end;

                button {
                    font-family: SF Pro Display;
                    width: 100%;
                    border: none;
                    background: #2F80F3;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    padding: 22px 0;
                    transition: background .3s ease, box-shadow .3s ease, color .2s ease;
                    &:hover {
                        background: #2F80F3;
                        box-shadow: 0px 4px 32px rgba(47, 128, 243, 0.48);
                    }
                    &:active {
                        background: #1E6FE1;
                        box-shadow: 0px 4px 32px rgba(47, 128, 243, 0.48);
                    }
                }
            }
        }
    }
}

//.online-pay-modal {
//    .form-wrap-other {
//        padding: 50px 0 80px;
//        display: flex;
//        justify-content: center;
//    }
//    .bill-modal-radio-btn {
//        margin-bottom: 10px;
//
//        input {
//            display: none;
//        }
//
//        input:checked + label:after {
//            width: 100%;
//        }
//
//        label {
//            width: max-content;
//            padding: 0 10px;
//            position: relative;
//            font-size: 18px;
//            line-height: 18px;
//            color: #525f7f;
//            cursor: pointer;
//
//            &.first {
//                &:after {
//                    left: unset;
//                    right: 0;
//                }
//            }
//
//            &:after {
//                content: '';
//                position: absolute;
//                width: 0;
//                height: 2px;
//                bottom: -4px;
//                left: 0;
//                background-color: #2dce89;
//                transition: all .6s;
//            }
//        }
//    }
//    .form-wrap {
//        .paragraph {
//            position: relative;
//            &.required:after{
//                content: "*";
//                position: absolute;
//                top: 3px;
//                right: 0;
//                font-size: 18px;
//                line-height: normal;
//                color: #fb6340;
//            }
//
//            p {
//                margin-bottom: 0;
//                font-size: 15px;
//                line-height: 18px;
//            }
//
//            & .form-group {
//                margin-bottom: 10px;
//            }
//
//            & .form-control {
//                height: 39px;
//                padding: 8px 10px;
//            }
//        }
//
//        .grid-between {
//            display: grid;
//            grid-template-columns: 1fr 1fr;
//            align-items: center;
//            justify-content: space-between;
//            grid-gap: 15px;
//            margin-bottom: 10px;
//
//            & .input-error-text {
//                bottom: -10px;
//            }
//        }
//    }
//    /deep/ .modal-dialog {
//        max-width: 700px;
//    }
//    /deep/ .modal-content {
//        & .modal-header {
//            padding-bottom: 0;
//        }
//
//        & .modal-body {
//            padding: 0 20px;
//
//            .pay-types-group {
//                display: grid;
//
//                .online-pay-form {
//
//                    padding: 10px 0;
//
//                    .checkbox{
//                        display: flex;
//                        span {
//                            margin-right: 8px;
//                        }
//                        a{
//                            font-size: 16px;
//                            cursor: pointer;
//                        }
//                        ///deep/.custom-control.custom-checkbox{
//                        //    margin-right:-15px;
//                        //
//                        //}
//                    }
//                }
//                .pay-type-item {
//                    border-top: 1px solid #a1a1a1;
//
//                    &:last-child {
//                        border-bottom: 1px solid #a1a1a1;
//                    }
//
//                    .title {
//                        height: 60px;
//                        display: flex;
//                        justify-content: center;
//                        align-items: center;
//                        transition: all .2s;
//                        cursor: pointer;
//
//                        p {
//                            margin-bottom: 0;
//                            font-size: 20px;
//                        }
//
//                        &:hover {
//                            background-color: #f8f8f8;
//                        }
//                    }
//
//                    .paragraph {
//                        position: relative;
//                        &.required:after{
//                            content: '*';
//                            position: absolute;
//                            right: 0;
//                            top: 0;
//                            font-size: 18px;
//                            line-height: normal;
//                            color: #fb6340;
//                        }
//                        p {
//                            margin-bottom: 0;
//                            font-size: 15px;
//                            line-height: 18px;
//                        }
//
//                        & .form-group {
//                            margin-bottom: 10px;
//
//                            textarea {
//                                resize: none;
//                                height: 60px;
//                            }
//                        }
//
//                        & .form-control {
//                            height: 39px;
//                            padding: 8px 10px;
//                        }
//                        .card-cvv-hover{
//                            cursor: pointer;
//                            position: absolute;
//                            right: 0;
//                            top: 0;
//                            transform: translate(-8px, 103%);
//                        }
//                    }
//
//                    .grid-between {
//                        display: grid;
//                        grid-template-columns: 1fr 1fr;
//                        align-items: center;
//                        justify-content: space-between;
//                        grid-gap: 15px;
//                        margin-bottom: 10px;
//
//                        & .input-error-text {
//                            bottom: -10px;
//                        }
//                    }
//
//                    .pay-btn {
//                        display: flex;
//                        justify-content: flex-end;
//                        padding: 5px 0 10px;
//                    }
//                }
//            }
//        }
//
//        & .modal-footer {
//            padding-top: 0;
//        }
//    }
//}

.yandex-pay-result {
    .yandex-text {
        text-align: center;

        &.success {
            color: #2dce89;
        }

        &.error {
            color: #525f7f;
        }
    }
}

.loader-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.input-error /deep/ .form-control {
    border: 1px solid #fb6340;
}

.textarea-error {
    border: 1px solid #fb6340;
}

.input-error-text {
    position: absolute;
    bottom: -16px;
    color: #fb6340;
    font-size: 12px
}

