@media (min-width: 1920px) {

    .m-container{
        width: 90%;
    }
}
@media (max-width: 1690px) {
    .new-programs  {
        .programfilter {
            .filter-bottom {
                flex-direction: column;
                justify-content: start;
                align-items: start;

                .filter-bottom-text {
                    margin-top: 25px;
                }
            }
        }
    }

}

@media (max-width: 1490px) {
    .program-info {
        .m-container {
            width: 90%;
        }
    }
    .new-programs {
        padding: 44px 0;

        .programm-title {
            margin-bottom: 60px;
            h1 {
                width: 96%;
                font-size: 33px;
                line-height: 48px;
            }
        }
    }
}
@media (max-width: 1400px) {
    .program-info {
        .icon-wrap {
            .logo{
                .logo-text{
                    margin-left: 25px;
                    p{
                        font-size: 16px;
                        line-height: 115.8%;
                    }
                }
            }

        }
    }
    .new-programs {
        .new-program-boxes {
            .new-program-boxes-middle {
                .top-middle{
                    .desc-title-act {
                        .recomended {
                            p {
                                width: 90%;
                            }
                        }
                    }
                }
                .bottom-middle {

                }
            }
        }
    }
}
@media (max-width: 1300px) {
    .new-programs {
        .programfilter {
            .filter-top {
                .filter-top-search {
                    input{
                        width: 87%;
                    }
                }
            }
        }
    }
}
@media(max-width: 1120px) {
    .content-home {
        .m-container {
            width: 90%;
        }
    }
    .program-info-slider.threeSliderPage {
        display: block;
    }

    .program-info-slider.oneSliderPage {
        display: none;
    }

    .program-info-slider.twoSliderPage {
        display: none;
    }

    .program-info {
        display: none;
    }

    .program-info {
        .icon-wrap {
            .logo{
                .logo-text{
                    margin-left: 25px;
                    p{
                        font-size: 16px;
                        line-height: 115.8%;
                    }
                }
                &:last-child{
                    display: none;
                }
            }
        }
    }
    .new-programs {
        .new-program-boxes {
            padding: 23px 0;
        }
        .programfilter {
            .filter-top {
                .filter-top-search {
                    input{
                        width: 83%;
                    }
                }
            }
        }

    }
    .m-container {
        width: 90%;
    }
}
@media(max-width: 1024px){
    .m-container{
        width: 90%;
    }
    .program-info {
        .icon-wrap {
            .logo{
                .logo-text{
                    margin-left: 25px;
                    p{
                        font-size: 16px;
                        line-height: 115.8%;
                    }
                }
                &:last-child{
                    display: none;
                }
            }
        }
    }
    .new-programs  {
        .programfilter {
            .filter-top {
                .filter-top-search {
                    input{
                        width: 80%;
                    }
                }
            }
            .filter-bottom {
                .filter-bottom-options {
                    .box {
                        span {
                            font-size: 13px;
                        }
                    }
                }
                .filter-bottom-text {

                }
            }
        }
        .new-program-boxes {
            align-items: flex-start;

            .new-program-boxes-img {
                width: 160px;
            }
            .new-program-boxes-middle {
                flex-direction: column;
                .top-middle{
                    .title{
                        h3{
                            font-size: 18px;
                        }
                    }
                    .desc-title-act {
                        margin-bottom: 20px;
                    }
                }
                .bottom-middle {
                    .bottom-middle-price {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content:space-between;
                        align-items: center;
                        .bottom-middle-price-new {
                            margin-bottom: 0;
                        }
                        .wrap-btn-middle-price{
                            flex-direction: row;
                            .bottom-middle-price-btn.podrob-btn {
                                margin-top: 0;
                                //margin-right: 35px;
                            }
                        }

                    }

                }
            }
        }
        .our-section-box {
            .our-variant {
                margin-top: 20px;
                .send-variant {
                    button {
                        width: 100%;
                        padding: 25px 106px;
                        text-align: center;
                        background: #2F80F3;
                        font-family: "SF Pro Display";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 23px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
@media(max-width: 1000px) {
    .program-info {
        .icon-wrap {
            .logo{
                &:nth-child(3){
                    display: none;
                }
            }
        }
    }
    .program-info-slider.threeSliderPage {
        display: none;
    }

    .program-info-slider.oneSliderPage {
        display: none;
    }

    .program-info-slider.twoSliderPage {
        display: block;
    }
}
@media(max-width: 930px) {
    .m-container {
        width: 82%;
    }
    .new-programs {
        .programfilter {
            display: none;
        }
        .programFilterMobile {
            display: block;
        }
    }
}
@media(max-width: 800px) {
    .m-container{
        width: 85%;
    }
    .programm-title {
        h1 {
            width: 100%;
            font-size: 25px;
            line-height: 31px;
        }
    }
}

@media(max-width: 670px) {
    .m-container{
        width: 100%;
    }
    .new-programs {
        .new-program-boxes {
            flex-direction: column;
            background: #FFFFFF;
            box-shadow: 0px 7px 70px rgba(0, 50, 123, 0.1);
            margin-bottom: 26px;
            padding-bottom: 0;
            .new-program-boxes-img {
                display: none;
            }

            .new-program-boxes-middle {
                padding: 34px 20px;
                .top-middle {
                    .title {
                        h3 {
                            font-size: 18px;
                            line-height: 23px;
                        }
                    }
                    .popular-program {
                        span {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    .desc-title-act {
                        .recomended {
                            p {
                                font-size: 15px;
                                line-height: 19px;
                            }
                            .logos {
                                margin-top: 10px;
                                img {
                                    width: 105px;
                                }
                            }
                        }
                    }
                }
                .bottom-middle {
                    .bottom-middle-price-btn {
                        display: none;
                    }
                    .bottom-middle-price {
                        flex-direction: row;
                        justify-content: space-between;

                        .bottom-middle-price-old {
                            display: none;
                        }
                        .new-program-icon-mob {
                            display: block;
                            img {
                                width: 90px;
                            }
                        }
                    }
                    .bottom-middle-price {
                        .bottom-middle-price-new {

                        }
                    }
                }
            }
            .mobile-profram-action {
                display: flex;
                flex-direction: row;
                width: 100%;
                .mobile-profram-action-pod {
                    width: 50%;
                    button {
                        width: 100%;
                        font-family: "SF Pro Display";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #242424;
                    }
                }
                .mobile-profram-action-zap {
                    width: 50%;
                    button {
                        background: #2F80F3;
                        width: 100%;
                        font-family: "SF Pro Display";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .our-section-box {
            .our-variant {
                .title {
                    width: 75%;
                    font-size: 18px;
                    line-height: 23px;
                }
            .textarea {
                textarea {
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height:18px ;
                    color: #96A4B9;
                }
            }
            }
        }
       .programFilterMobilePopap {
           .filter-checkbox {
               .filter-bottom-text {
                   p {
                       font-size: 14px;
                   }
               }
           }
           .filter-top-search{
               input{
                   width: 92%;
               }
           }
       }

    }
}

@media(max-width: 600px) {
    .program-info-slider.oneSliderPage {
        display: block;
    }
    .program-info-slider.threeSliderPage {
        display: none;
    }
    .program-info-slider.twoSliderPage {
        display: none;
    }
    .program-info {
     display: none;
    }
    .new-programs{
        .programFilterMobilePopap {
            .filter-top-search{
                input{
                    width: 90%;
                }
            }
        }
    }
}
@media(max-width: 420px) {
    .program-info {
        .flex-responsive{
            display: flex;
            align-items: center;
            .icon-wrap {
                .logo{
                    &:nth-child(2){
                        display: none;
                    }
                }
            }
            .slide-wrap{
                margin-left: 30px;
                display: block;
            }
        }
    }
    .new-programs{
        .programFilterMobilePopap {
            .filter-top-search{
                input{
                    width: 86%;
                }
            }
        }
    }
}
@media(max-width: 420px) {
    .new-programs {
        .our-section-box {
            .our-variant {
                .send-variant {
                    button {
                        padding: 25px 76px;
                    }
                }
            }
            .show-more-new{
                button{
                    padding: 25px 73px;
                }
            }
        }
    }
}
