@media (max-width: 576px) {
    .modal-content {
        border-radius: 0px !important;
        padding: 10px !important;
    }

}

@media (min-width: 576px) and (max-width: 1024px) {
    .modal-content {
        border-radius: 0px !important;
        padding: 10px !important;
    }
}

@media (min-width: 1024px) {
    .modal-content {
        border-radius: 0px !important;
        padding: 10px !important;
    }
}
