<template>
    <section class="container-fluid about" :class="placeholder">
        <h3 class="about__title">О программе</h3>
        <div class="about__content" v-html="!this.triggerToSlug ? listInfo.description : program.description"></div>
        <div class="about__price">
            Стоимость программы: <span>{{ price }}&nbsp;₽</span>
            <span v-if="oldPrice" class="about__price-old">{{ oldPrice }}&nbsp;₽</span>
        </div>
    </section>
</template>

<script>
    import * as homeTypes from "@/stores/modules/home/types"
    import * as trainingTypes from "@/stores/modules/training/types"

    export default {
        name: "AboutProgram",
        data() {
            return {
                listInfo: {},
                triggerToSlug: false,
            }
        },
        props: ["program", "placeholder"],
        computed: {
          price() {

              let cookies = document.cookie.split(";");
                let token;
                cookies.filter(val => {
                    let key = val.split("=")[0];
                    let item = val.split("=")[1];
                    switch (key.replace(/ /g, "")) {
                        case "token":
                            token = item;
                            break;
                    }
                });
              if(this.$route.query.price && !token) {
                return this.$route.query.price
              } else {
                  if(!this.triggerToSlug) {
                      return this.listInfo.price
                  } else {
                      if(this.program.length == 1) {
                          return this.program[0].price
                      }
                      else if (this.program.price) {
                          return this.program.price
                      }
                  }
              }
          },
          oldPrice() {
              if(!this.triggerToSlug) {
                  return this.listInfo.old_price
              } else {
                if(this.program.length == 1) {
                    return this.program.old_price
                }
                else if (this.program.old_price) {
                    return this.program.old_price
                }

              }
          }
        },
        mounted() {

            // геттер на данные из стора которые записываются при клике из списка
            this.listInfo = this.$store.getters["global/getBackProgramInfo"]

            // фильтр при обновлении страницы
            if (this.listInfo.title === undefined) {
                this.triggerToSlug = true;

                /* TODO A_GET_PROGRAM_ONE

                // this.$store.dispatch("home/" + homeTypes.A_EDUCATION_PROGRAM_ALL)
                //     .then(res => {
                //         console.log(program_slug)
                //         this.program = res.data.education_programs.data.filter(val => {
                //             if(val.slug === program_slug) {

                //                 console.log(val)
                //                 return val
                //             }
                //         })
                //     });
                 */

            }
        }
    }
</script>

<style lang="scss">
    .about {
        padding-top: 25px;
        margin-bottom: 25px;
        min-height: 200px;

        @media (min-width: 768px) {
            padding-top: 25px;
            margin-bottom: 20px;
        }

        @media (min-width: 1200px) {
            padding-top: 30px;
            margin-bottom: 25px;
        }

        @media (min-width: 1500px) {
            padding-top: 83px;
            margin-bottom: 50px;
        }

        &__title {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: #242424;

            @media (min-width: 768px) {
                font-size: 33px;
                line-height: 39px;
                margin-bottom: 15px;
            }

            @media (min-width: 1200px) {
                font-size: 33px;
                line-height: 45px;
                margin-bottom: 20px;
            }

            @media (min-width: 1500px) {
                font-size: 38px;
                margin-bottom: 32px;
            }
        }

        &__content {
            font-size: 14px;
            line-height: 153.34%;
            color: #242424;

            p:last-child {
                margin-bottom: 0;
            }

            p {
                margin: 0 0 11px 0;
                font-size: inherit!important;
                line-height: inherit!important;
                font-weight: inherit!important;
            }

            @media (min-width: 768px) {
                font-size: 18px;
                line-height: 153.34%;

                p {
                    margin: 0 0 15px 0;
                }
            }

            @media (min-width: 1200px) {
                font-size: 20px;
                line-height: 153.34%;

                p {
                    margin: 0 0 20px 0;
                }
            }

            @media (min-width: 1500px) {
                font-size: 23px;
                p {
                    margin: 0 0 20px 0;
                }
            }
        }

        &__price {
            padding: 0;
            padding-top: 25px;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

            span {
                font-weight: bold;
            }

            @media (min-width: 768px) {
                padding-top: 25px;
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
            }

            @media (min-width: 1200px) {
                padding-top: 25px;
                font-weight: 600;
                font-size: 23px;
                line-height: 27px;
            }
            @media (min-width: 1500px) {
                padding-top: 50px;
            }

            &-old {
                font-weight: normal;
                margin-left: 17px;
                color: #788AA4;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #788AA4;
                    top: 50%;
                    transform: rotate(-7.1deg);
                }
            }
        }
    }
</style>
