<template>
    <div>
        <button class="start-button"
                @click="toSubscribe($event)"
        >
            Начать обучение сейчас
        </button>
        <CodeLogin :phone="phoneNumberFromEmail" @closeModal="closeCode()" :modalStatus="codeModalStatus"/>
        <modal class="all-pay-modal" :show.sync="all_pay_modal_status">

            <div class="close-modal" @click="all_pay_modal_status = false, isPayedText()">
                <svg class="close-style">
                    <use xlink:href="../../assets/images/payment/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="modal-title">Оплата программы</div>

            <div class="upplace">
                <!--<div class="program-name">{{ program.title }}</div>-->
                <div class="modal-subtitle">
                    <div class="subtitle-text">
                        <p>{{program.title}}</p>
                    </div>
                    <div class="subtitle-sum">
                        <p>{{program.price}}₽</p>
                    </div>
                </div>
            </div>

            <div class="radio-pay-wrap">
                <div :class="['pay-myself',{'active' : !showModalPayStatus}]">
                    <p>Оплачиваю сам</p>
                </div>
                <div class="radio-pay-btn">
                    <input type="checkbox" id="as" v-model="showModalPayStatus">
                    <label for="as"></label>
                </div>
                <div :class="['pay-organization',{'active' : showModalPayStatus}]">
                    <p>Оплачивает организация</p>
                </div>
            </div>
            <div class="radio-btn-pay-wrap">
                <div class="bill-modal-radio-btn" v-show="!showModalPayStatus">
                    <div class="tab-btn">
                        <input type="radio" id="bill-put" @click="changePayYandexModal(0)" v-model="bill_modal_show"
                               :value="0">
                        <label for="bill-put" class="no-margin">
                            <img src="../../assets/images/payment/credit-cards.svg" alt="">
                            <p>Онлайн оплата</p>
                        </label>
                    </div>

                    <div class="tab-btn">
                        <input type="radio" id="individual-face" @click="changePayYandexModal(1)"
                               v-model="bill_modal_show" :value="1">
                        <label for="individual-face">
                            <img src="../../assets/images/payment/bank-building.svg" alt="">
                            <p>Выставить счет</p>
                        </label>
                    </div>

                    <div class="tab-btn">
                        <input type="radio" id="bill-put1" @click="changePayYandexModal(2)" v-model="bill_modal_show"
                               :value="2">
                        <label for="bill-put1">
                            <img src="../../assets/images/payment/ruble.svg" alt="">
                            <p>Оплата наличными</p>
                        </label>
                    </div>
                </div>
                <div class="organization" v-show="showModalPayStatus">
                    <div class="checkbox">
                        <base-checkbox class="mb-1">
                            За счет ТФОМС
                        </base-checkbox>
                    </div>
                    <div class="form-wrap">
                        <div class="grid-between">
                            <div class="paragraph required">
                                <p>Банк</p>
                                <base-input
                                    :class="{ 'input-error': $v.invoice.bank.$error }"
                                    v-model="invoice.bank"
                                    placeholder="Название банка"
                                >
                                </base-input>
                                <div class="input-error-text" v-if="$v.invoice.bank.$error">Заполните поле</div>
                            </div>
                            <div class="paragraph required">
                                <p>Бик</p>
                                <base-input
                                    vMask="################"
                                    :class="{ 'input-error': $v.invoice.bik.$error }"
                                    v-model="invoice.bik"
                                    placeholder="Бик"
                                >
                                </base-input>
                                <div class="input-error-text" v-if="$v.invoice.bik.$error">Заполните поле</div>
                            </div>
                        </div>
                        <div class="grid-between">
                            <div class="paragraph required">
                                <p>Название организации</p>
                                <base-input
                                    :class="{ 'input-error': $v.invoice.company_name.$error }"
                                    v-model="invoice.company_name"
                                    placeholder="Компания"
                                >
                                </base-input>
                                <div class="input-error-text" v-if="$v.invoice.company_name.$error">Заполните поле</div>
                            </div>
                            <div class="paragraph required">
                                <p>ИНН</p>
                                <base-input
                                    vMask="####################"
                                    :class="{ 'input-error': $v.invoice.inn.$error }"
                                    v-model="invoice.inn"
                                    placeholder="ИНН"
                                >
                                </base-input>
                                <div class="input-error-text" v-if="$v.invoice.inn.$error">Заполните поле</div>
                            </div>
                        </div>
                        <div class="grid-between">
                            <div class="paragraph required">
                                <p>КПП</p>
                                <base-input
                                    vMask="#####################"
                                    :class="{ 'input-error': $v.invoice.kpp.$error }"
                                    v-model="invoice.kpp"
                                    placeholder="КПП"
                                >
                                </base-input>
                                <div class="input-error-text" v-if="$v.invoice.kpp.$error">Заполните поле</div>
                            </div>
                            <div class="paragraph required">
                                <p>Адрес</p>
                                <base-input
                                    :class="{ 'input-error': $v.invoice.address.$error }"
                                    v-model="invoice.address"
                                    placeholder="Адрес"
                                >
                                </base-input>
                                <div class="input-error-text" v-if="$v.invoice.address.$error">Заполните поле</div>
                            </div>
                        </div>
                    </div>
                    <div class="organization-btn">
                        <button @click="pay()">Выставить счет</button>
                    </div>
                </div>
            </div>
            <div class="checked-radio-btn-wrap" v-show="!showModalPayStatus">

                <div class="form-wrap-other" v-show="bill_modal_show === 0">
                    <div v-show="yandex_other_loader" class="loader-wrap">
                        <loader
                            loaderColor="#5e72e4"
                            :loaderShow="true"
                        ></loader>
                    </div>
                    <div v-show="!yandex_other_loader" id="payment-form"></div>
                </div>

                <div class="expose-score" v-show="bill_modal_show === 1">
                    <div class="paragraph required">
                        <p>Адрес регистрации</p>
                        <base-input
                            :class="{ 'input-error': $v.individual.address.$error }"
                            v-model="individual.address"
                            placeholder="Введите ваш адрес по прописке"
                        >
                        </base-input>
                        <div class="input-error-text" v-if="$v.individual.address.$error">Заполните поле</div>
                    </div>
                    <div class="checkbox-mail">
                        <base-checkbox class="mb-3" v-model="mailStatus">
                            Отправить счет на электронную почту
                        </base-checkbox>
                        <div class="paragraph" v-if="mailStatus">
                            <base-input
                                v-model="individual.mail"
                                placeholder="Введите вашу электронную почту"
                            >
                            </base-input>
                        </div>
                    </div>
                    <div class="expose-score-btn">
                        <button @click="individual_pay()" :disabled="statusMailBtn">{{mailStatus ? "Отправить" :
                            "Скачать счет" }}
                        </button>
                        <button @click="printOut()" class="download-invoice">Распечатать</button>
                    </div>
                </div>

                <div class="cash-payment" v-show="bill_modal_show === 2 ">
                    <div class="headline">
                        <h3>Вы можете оплатить наличными без комиссии в кассе салонов связи</h3>
                    </div>
                    <div class="icon">
                        <img src="../../assets/images/payment/evroset.svg">
                        <img src="../../assets/images/payment/sviznoy.svg">
                        <img src="../../assets/images/payment/megafon.svg">
                        <img src="../../assets/images/payment/mts.svg" height="45">
                    </div>
                    <div class="cash-payment-btn">
                        <button @click="getPhonePaymentCode()">Получить код для оплаты</button>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>

    import * as globalStore from "@/stores/modules/globalStore/types";
    import {requiredIf} from "vuelidate/lib/validators";
    import * as types from "@/stores/modules/training/types"
    import * as authTypes from "@/stores/modules/auth/types";
    import * as globalTypes from "@/stores/types";
    import * as profileTypes from "@/stores/modules/profile/types";
    import moment from "moment"
    import loader from "@/components/loader/index"
    import printJS from "print-js";
    import Multiselect from "../../plugins/vue-multiselect/src";
    import PayModal from "@/components/program/PayModal";
    import CodeLogin from "@/components/code_login/index"


    export default {
        name: "Subscribe",
        components: {
            PayModal,
            Multiselect,
            loader,
            CodeLogin
        },
        filters: {

            toRubl: function (value) {
                if (!value) return ""
                value = value.toString()
                return value + " ₽"
            },


        },
        props: ['program'],
        data() {
            return {
                codeModalStatus: false,
                listInfo: {},
                triggerToSlug: false,
                isToPay: false,
                clearInDownPosition: false,
                subscribeText: "Записаться",
                isSubscribed: false,
                posUp: "up-position",
                posDown: "down-position",
                idmodal1: "testmodal1",
                idmodal2: "testmodal2",
                name: "subscribe",


                infoInputasd: "",
                searchProgramsTag: "",
                statusCheckboxSpecialization: false,
                mobileStatusCheckboxSpecialization: false,
                textArea: "",
                toggleFilterShow: false,
                statusMailBtn: false,
                pdfprintpath: "",
                modalDataInformation: [],
                mailStatus: false,
                showModalPayStatus: false,
                token: "",
                value: [],
                options: [],
                isLoading: false,
                yandex_other_loader: false,
                getPopupItem: {},
                modals: {
                    description: false,
                },
                popupStatus: false,
                dateModel: "",
                render_yandex_form: true,
                all_pay_modal_status: false,
                online_pay_btn_status: false,
                yandex_pay_modal_status: false,
                yandex_pay_status: false,
                yandex_loader: false,
                card_info_show: false,
                bill_modal_show: 0,
                online_pay_toggle: 0,
                pay_form_validation: null,
                bill_modal_status: false,
                online_pay_modal_status: false,
                pay_loader: false,
                // pay_checkbox:false,
                online_pay_loader: false,
                programs: [],
                invoice: {
                    bank: "",
                    number: "",
                    bik: "",
                    total: "",
                    inn: "",
                    kpp: "",
                    company_name: "",
                    address: "",
                },
                individual: {
                    // name: "",
                    // surname: "",
                    // patronymic: "",
                    address: "",
                    mail: "",
                    // number: "",
                },
                invoice_items: {
                    price: 0,
                    name: "",
                    count: 1,
                    total: 0
                },
                online_pay_items: {
                    price: 0,
                    name: ""
                },
                online_pay: {
                    phone: "",
                    yandex_description: "",
                    card_csc: "",
                    card_number: "",
                    expiry_year: "",
                    expiry_month: "",
                    card_description: "",
                }
            }
        },
        validations: {
            invoice: {
                bank: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "invoice"
                    })
                },
                // number: {
                //     required: requiredIf(function () {
                //         return this.pay_form_validation === "invoice"
                //     })
                // },
                bik: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "invoice"
                    })
                },
                inn: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "invoice"
                    })
                },
                kpp: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "invoice"
                    })
                },
                company_name: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "invoice"
                    })
                },
                address: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "invoice"
                    })
                },
            },
            individual: {
                // name: {
                //     required: requiredIf(function () {
                //         return this.pay_form_validation === "individual"
                //     })
                // },
                // surname: {
                //     required: requiredIf(function () {
                //         return this.pay_form_validation === "individual"
                //     })
                // },
                // patronymic: {
                //     required: requiredIf(function () {
                //         return this.pay_form_validation === "individual"
                //     })
                // },
                address: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "individual"
                    })
                },
            },
            online_pay: {
                phone: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "phone"
                    })
                },
                // yandex_description: {
                //     required: requiredIf(function () {
                //         return this.pay_form_validation === "yandex"
                //     })
                // },
                card_csc: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "card"
                    })
                },
                card_number: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "card"
                    })
                },
                expiry_year: {
                    required: requiredIf(function () {
                        return this.pay_form_validation === "card"
                    })
                },
                // expiry_month: {
                //     required: requiredIf(function () {
                //         return this.pay_form_validation === "card"
                //     })
                // },
                // card_description: {
                //     required: requiredIf(function () {
                //         return this.pay_form_validation === "card"
                //     })
                // }
            }
        },
        computed: {
            phoneNumberFromEmail() {
                if(this.$store.getters["auth/getModalPhoneNumber"]) {
                    return this.$store.getters["auth/getModalPhoneNumber"];
                } else {
                    return "    "
                }
            },
            rosminAuthStatus() {
                console.log(this.$store.getters["auth/getRosProfileData"]);
                return this.$store.getters["auth/getRosProfileData"]
                // return ((this.$store.state.auth.rosminAuthStatus == "success") ? false : true)
            },

            getUserId() {
                return this.$store.getters["auth/getUserId"]
            },
            getUserTags() {
                return this.$store.getters["training/getOurPrograms"]
            },
            navigationNextInfo: function () {
                let chevronleft = require("@/assets/images/home/arrowLeft.png");
                return ""
            },
            navigationPrevInfo: function () {
                let chevronRight = require("@/assets/images/programs/nextLinkSlider.svg");
                return `<img src="${chevronRight}" class="slider-next">`
            },
            carouselPerPageInfo() {
                return 1;
            },
            carouselPerPageInfoThree() {
                return 3;
            },
            carouselPerPageInfoTwo() {
                return 2;
            },
        },
        methods: {
            closeCode() {
                this.codeModalStatus = false
            },
            toSubscribe($event) {

                if (!this.$store.state.auth.isAuthenticated) { // TODO если не авторизован
                    if (localStorage.getItem("phoneFromEmail") != null) {
                        let phoneNumberFromEmeil = this.$store.getters["auth/getModalPhoneNumber"];
                        this.$store.dispatch("auth/" + authTypes.A_SAVE_REGISTER_PHONE_NUMBER, phoneNumberFromEmeil);
                        this.$store.dispatch("auth/" + authTypes.A_SHOW_LOGIN_FROM_EMAIL, false)
                        this.$store.dispatch("global/" + globalStore.WRITE_URL_SUBSCRIBE, this.$route.path);
                        this.codeModalStatus = true;
                        // отправляем true в action, что мы пришли со страницы SUBSCRIBE (Используем эту переменную в файле ?логина, что бы вернуться по пути)
                        this.$store.dispatch("global/" + globalStore.GET_FROM_SUBSCRIBE, true);
                    } else {
                        // если не зарегистрированны

                        // открываем логин
                        this.$store.dispatch("auth/" + authTypes.A_STATUS_LOGIN_SHOW, true);

                        // записываем путь
                        // console.log(this.$route.path);
                        this.$store.dispatch("global/" + globalStore.WRITE_URL_SUBSCRIBE, this.$route.path);

                        // отправляем true в action, что мы пришли со страницы SUBSCRIBE (Используем эту переменную в файле ?логина, что бы вернуться по пути)
                        this.$store.dispatch("global/" + globalStore.GET_FROM_SUBSCRIBE, true);
                    }

                } else { // TODO если авторизован

                    // если зарегистрированны но не подписанны, отправляем ID курса в стор
                    this.$store.dispatch("global/" + globalStore.SAVE_THIS_SUBSCRIBE, this.program.id);

                    this.toggleInvoiceBtn()
                }
            },
            isPayedText() {
                //this.isToPay = true

            },

            toSuccess() {
                this.$router.push(`/success/${this.program.slug}`)
            },
            toOfferVariant() {
                this.$store.dispatch("auth/" + authTypes.A_SEND_FORM_CONTROL, this.textArea)
                    .then(res => {
                        if (res.telegram_send.status === "success") {
                            this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                title: "Ваше предложение успешно отправлено!",
                                status: "success"
                            });
                            this.textArea = ""
                        }
                    })
            },
            gotoelements(id, item) {
                let cookies = document.cookie.split(";");
                let token;
                cookies.filter(val => {
                    let key = val.split("=")[0];
                    let item = val.split("=")[1];
                    switch (key.replace(/ /g, "")) {
                        case "token":
                            token = item;
                            break;
                    }
                });
                this.token = token;
                this.$store.dispatch("training/" + types.A_GET_PROGRAMS_DATA, {id: id, token, programm: item.title})
                    .then(res => {
                        if (res) {
                            let blockId = res.data.education_program_data.block[0].id;
                            this.$router.push("/training/program/" + id + "/block/" + blockId);
                        } else {
                            this.$router.push("/training/mtBlock");
                            this.blocks = null;
                        }

                    })
            },
            changePayYandexModal(event) {
                if (event == 1 || event == 2) {

                }
            },
            SendPopupItem(item) {
                this.modals.description = true
                this.getPopupItem = item
                this.getPopupItem.date = this.getDate(item.start_date, "DD MMMM") + " / " + this.getDate(item.end_date, "DD MMMM");
            },
            getDate(date, format) {
                return moment(date).locale("ru").format(format);
            },
            correctOptions(val, obj = null) {
                let dates = [...val];
                if (obj) {
                    dates.unshift(obj)
                }

                let res = [];
                dates.forEach(item => {
                    let date = this.getDate(item.start_date, "DD MMMM") + " / " + this.getDate(item.end_date, "DD MMMM");
                    res.push({
                        text: date,
                        value: date
                    })

                });
                return res
            },
            toggleOnlinePay(numb) {
                if (this.online_pay_toggle === numb)
                    this.online_pay_toggle = 0;
                else
                    this.online_pay_toggle = numb
            },
            getToken() {
                let cookies = document.cookie.split(";");
                let token;
                cookies.filter(val => {
                    let key = val.split("=")[0];
                    let item = val.split("=")[1];
                    switch (key.replace(/ /g, "")) {
                        case "token":
                            token = item;
                            break;
                    }
                });
                return token
            },
            payForm() {
                this.yandex_loader = true;
                this.yandex_other_loader = true;

                let cookies = document.cookie.split(";");
                let token;
                cookies.filter(val => {
                    let key = val.split("=")[0];
                    let item = val.split("=")[1];
                    switch (key.replace(/ /g, "")) {
                        case "token":
                            token = item;
                            break;
                    }
                });
                let yandex_payment_method_data = {
                    token: token,
                    program_id: this.program.id,
                    offerta: this.pay_checkbox ? 1 : 0
                };


                this.$store.dispatch("training/" + types.A_PROGRAM_BAY_YANDEX, yandex_payment_method_data)
                    .then(res => {
                        const redirect_url = process.env.VUE_APP_API_BASE_URL + "payment-status";
                        const checkout = new window.YandexCheckout({
                            confirmation_token: res.data.yandex_money_pay.confirmation_token,
                            return_url: "https://vrachu.ru/payment-status",
                            error_callback(error) {
                            }
                        });
                        document.getElementById("payment-form").innerHTML = "";
                        checkout.render("payment-form");
                        this.render_yandex_form = false
                    })
                    .catch(err => {
                        // this.$store.dispatch(globalTypes.A_GET_ALERT, {
                        //     title: "Произошла ошибка",
                        //     status: "danger"
                        // });
                    })
                    .finally(() => {
                        this.yandex_loader = false
                        this.yandex_other_loader = false
                    })
            },
            pay() {
                this.pay_form_validation = "invoice";
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.pay_loader = true;
                    let send_data = {
                        invoice_items: [{
                            name: this.invoice_items.name,
                            count: this.invoice_items.count,
                            price: this.invoice_items.price,
                            total: this.invoice_items.total
                        }
                        ]
                    };
                    send_data = {...this.invoice, ...send_data};
                    this.$store.dispatch("training/" + types.A_BILL_INVOICE, send_data)
                        .then(res => {
                            if (res.data.invoice.status === "success") {
                                this.bill_modal_status = false;
                                window.open(res.data.invoice.path, "_blank")
                            } else {
                                this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                    title: "Произошла ошибка",
                                    status: "danger"
                                });
                            }
                            this.pay_loader = false;
                        })
                }
            },
            gotootherpay() {
                this.yandex_other_loader = true;
                this.$store.dispatch("training/" + types.A_OTHER_PAY, {
                    programId: this.program.id,
                    redirectUrl: window.location.origin + "/payment-status"
                })
                    .then(res => {
                        this.yandex_other_loader = false;
                        window.open(res.data.yandex_money_pay_redirect.confirmation_url, "_blank");
                    })
            },
            individual_pay() {
                this.pay_form_validation = "individual";
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.pay_loader = true;
                    let payment_method_data = {
                        ...this.individual,
                        total: this.program.price,
                        email_send: this.mailStatus,
                    };
                    this.$store.dispatch("training/" + types.A_BILL_INDIVIDUAL, payment_method_data,)
                        .then(res => {
                            if (res.data.invoicepd4.status === "success") {
                                this.bill_modal_status = false;
                                window.open(res.data.invoicepd4.path, "_blank")
                                this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                    title: "успешно отправлено",
                                    status: "success"
                                });
                                this.statusMailBtn = true
                            } else {
                                this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                    title: "Произошла ошибка",
                                    status: "danger"
                                });
                            }

                            this.pay_loader = false;
                        })
                }
            },
            printPdf(url) {
                var iframe = this._printIframe;
                if (!this._printIframe) {
                    iframe = this._printIframe = document.createElement("iframe");
                    document.body.appendChild(iframe);
                    iframe.style.display = "none";
                    iframe.onload = function () {
                        setTimeout(function () {
                            iframe.focus();
                            iframe.contentWindow.print();
                        }, 1);
                    };
                }

                iframe.src = url;
            },
            printOut() {
                if (!this.$v.$invalid) {
                    this.pay_loader = true;
                    let payment_method_data = {
                        ...this.individual,
                        total: this.modalDataInformation.price,
                        email_send: this.mailStatus,
                    };
                    this.$store.dispatch("training/" + types.A_BILL_INDIVIDUAL, payment_method_data,)
                        .then(res => {
                            if (res.data.invoicepd4.status === "success") {
                                this.bill_modal_status = false;
                                this.pdfprintpath = res.data.invoicepd4.path;
                                // printJS(res.data.invoicepd4.path);
                                printJS({
                                    printable: res.data.invoicepd4.path,
                                    type: "pdf",
                                    showModal: true,
                                    modalMessage: "Retrieving document from external server..."
                                })
                                setTimeout(() => {
                                    var objFra = document.getElementById("myFrame");
                                    objFra.contentWindow.focus();
                                    objFra.contentWindow.print();
                                }, 2000)

                                // var iframe = document.getElementById('my-iframe')[0];
                                // let iframedoc = iframe.contentDocument || iframe.contentWindow.document;
                                // window.frames['printer_frame'].window.focus();
                                // console.log(window.frames)
                                // window.frames['printer_frame'].window.print();
                                // iframedoc.body.innerHTML = response;
                                // iframe.contentWindow.print();
                                // this.printPdf(res.data.invoicepd4.path);
                            } else {
                                this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                    title: "Произошла ошибка",
                                    status: "danger"
                                });
                            }
                        })
                }
            },
            onlinePay(type) {
                this.pay_form_validation = type;
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    this.online_pay_loader = true;
                    switch (type) {
                        case "yandex":
                            let yandex_payment_method_data = {
                                program_id: this.program.id,
                            };
                            this.$store.dispatch("training/" + types.A_PROGRAM_BAY_YANDEX, yandex_payment_method_data)
                                .then(res => {
                                    // const checkout = new window.YandexCheckout({
                                    //     confirmation_token: res.data.yandex_money_pay.confirmation_token,
                                    //     return_url: "https://vrachu.ru",
                                    //     error_callback(error) {
                                    //         console.log(error);
                                    //     }
                                    // });
                                    // checkout.render("payment-form");
                                    // this.onlinePayEnd();
                                    this.online_pay_loader = false
                                })
                                .catch(err => {
                                    this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                        title: "Произошла ошибка",
                                        status: "danger"
                                    });
                                    this.online_pay_loader = false
                                });
                            break;
                        case "card":
                            let card_payment_method_data = {
                                type: "bank_card",
                                program_id: this.program.id,
                                card: {
                                    csc: this.online_pay.card_csc,
                                    number: this.online_pay.card_number,
                                    expiry_year: this.online_pay.expiry_year.split("/")[1],
                                    expiry_month: this.online_pay.expiry_year.split("/")[0],
                                    cardholder: "Yandex"
                                },
                                amount: {value: this.online_pay_items.price},
                                description: this.online_pay.card_description,
                                confirmation: {type: "redirect"}
                            };
                            this.$store.dispatch("training/" + types.A_PROGRAM_BAY_CARD, card_payment_method_data)
                                .then(res => {
                                    if (res.data.yandex_money_pay.status === "success") {
                                        this.onlinePayEnd();
                                        this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                            title: "Оплата прошла успешно",
                                            status: "success"
                                        });
                                    } else {
                                        this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                            title: "Произошла ошибка",
                                            status: "danger"
                                        });
                                    }
                                    this.online_pay_loader = false
                                })
                                .catch(err => {
                                    this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                        title: "Произошла ошибка",
                                        status: "danger"
                                    });
                                    this.online_pay_loader = false
                                });
                            break;
                        case "phone":
                            let phone_payment_method_data = {
                                type: "mobile_balance",
                                program_id: this.program.id,
                                phone: this.online_pay.phone.substr(1, this.online_pay.phone.length),
                                amount: {value: this.online_pay_items.price},
                                confirmation: {type: "external"}
                            };
                            this.$store.dispatch("training/" + types.A_PROGRAM_BAY_PHONE, phone_payment_method_data)
                                .then(res => {
                                    this.online_pay_loader = false
                                })
                                .catch(err => {
                                    this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                        title: "Произошла ошибка",
                                        status: "danger"
                                    });
                                    this.online_pay_loader = false
                                });
                            break
                    }
                }
            },
            onlinePayEnd() {
                this.online_pay_modal_status = false;
                this.toggleInvoiceBtn();
            },
            toggleInvoiceBtn() {
                    this.invoice_items.price = this.program.price;
                    this.invoice_items.total = this.program.price;
                    this.invoice_items.name = this.program.title;

                this.bill_modal_show = 0;
                this.individual.address = "";

                this.payForm();
                this.all_pay_modal_status = true;
                this.modalDataInformation = this.program
            },
            getPhonePaymentCode() {
                this.$store.dispatch("training/" + types.A_GET_PHONE_PAYMENT_CODE, {
                    programId: this.program.id,
                    token: this.getToken(),
                    redirectUrl: window.location.origin + "/training/" + this.program.slug
                })
                    .then(res => {
                        if (res.data.yandex_money_pay_other.status === "success") {
                            window.open(res.data.yandex_money_pay_other.confirmation.confirmation_url, "_blank")
                        } else {
                            this.$store.dispatch(globalTypes.A_GET_ALERT, {
                                title: "Произошла ошибка",
                                status: "danger"
                            });
                        }
                    })
            }

        },
        watch: {
            bill_modal_show(val) {
                // if((val == 2 && (document.getElementById('payment-form') != null)) || (val == 1 && (document.getElementById('payment-form') != null))) {
                //     document.getElementById('payment-form').innerHTML = "";
                // } else {
                //     this.payForm()
                // }
            },
            showModalPayStatus(val) {
                if (!val) {
                    this.payForm()
                }
            },
            online_pay_modal_status(val) {
                if (!val) {
                    this.online_pay_btn_status = false
                } else {
                    document.getElementById("payment-form").innerHTML = "";
                }
            },
            value(val) {
                if (val.length > 0) {
                    let tags = "";
                    val.forEach(val => {
                        tags += val.nameа + ",";
                    });

                }
            }
        },
        mounted() {
            // геттер на данные из стора которые записываются при клике из списка
            this.listInfo = this.$store.getters["global/getBackProgramInfo"]

            /*
            // фильтр при обновлении страницы
            let cookies = document.cookie.split(";");
            let token;
            cookies.filter(val => {
                let key = val.split("=")[0];
                let item = val.split("=")[1];
                switch (key.replace(/ /g, "")) {
                    case "token":
                        token = item;
                        break;
                }
            });
            */
            if (this.listInfo.price === undefined) {
                //let program_slug = this.$route.params.id;
                //this.triggerToSlug = true;

                /* TODO Если что-то пойдет не так, откат
                this.$store.dispatch("training/" + trainingTypes.A_GET_PROGRAM_ONE,
                    {
                        token: token,
                        slug: this.$route.params.id
                    })
                    .then(res => {
                        this.programasd = res.data.education_programs.data[0];
                        console.log('StartButton')
                    });
                */

            }

            // Для данных в модальное окно
            // setTimeout(() => {
            //     let program_slug = this.$route.params.id;
            //     this.triggerToSlug = true;
            //     this.$store.dispatch("home/" + homeTypes.A_EDUCATION_PROGRAM_ALL)
            //         .then(res => {
            //             this.program = res.data.education_programs.data.filter(val => val.slug === program_slug)[0];
            //         });
            //     console.log("hi from setTimeOut")
            // }, 1000);

            // Для записи в стор, что "подписался - решили в бек это"
            //console.log(this.$store.getters["global/subscribeArrayGet"]);
            //console.log(array1.includes(3));
            // if (this.$store.getters["global/subscribeArrayGet"].includes(this.program.id)) {
            //     this.isSubscribed = true;
            //     this.subscribeText = "Оплатить";
            // }

            this.$loadScript("https://kassa.yandex.ru/checkout-ui/v2.js")
                .then((res) => {
                })
                .catch(() => {
                });
            this.$store.dispatch("training/" + types.A_YANDEX_MONEY_PAY_STATUS)
                .then(res => {
                    this.yandex_pay_status = res.data.yandex_money_pay_status.pay_status
                })
            this.$store.dispatch("training/" + types.A_GET_TAGS)
                .then(res => {
                    let optionsArray = res.data.tags.name.split(",");
                    optionsArray.forEach(val => {
                        this.options.push({nameа: val})
                    });
                })
            /*
            this.$store.dispatch("training/" + types.A_GET_OUR_PROGRAMS)
                .then(res => {

                })
                */
            this.$store.dispatch("profile/" + profileTypes.A_GET_USER_DATA, {user_id: this.getUserId}); // сохраняем в  vuex UserData
        }
    }
</script>

<style lang="scss" scoped>

    .start-button {
        padding: 22px 0;
        background: #FF7300;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        width: 100%;
        border: none;
        cursor: pointer;

        &:hover {
            box-shadow: 0 4px 32px rgba(255, 115, 0, 0.46);
        }

        &:active {
            box-shadow: 0 4px 32px rgba(255, 115, 0, 0.48);
        }

        @media (min-width: 768px) {
            padding: 30px 0;
            max-width: 390px;
            font-size: 22px;
            line-height: 26px;
        }

        @media (min-width: 1200px) {
            padding: 36px 0;
            max-width: 462px;
            font-size: 23px;
            line-height: 27px;
        }
    }

    @import "poupStyles/index";

    .tab-btn {
        label {
            background: black;
        }
    }

    .upplace {
        display: flex;
    }

    .modal-subtitle {
        border: none !important;
    }

</style>
