<template lang="pug">
	v-row
		v-col(v-for="seance in seances" :key="seance.id" cols="12" md="6")
			Seance(:seance="seance" :title="eventTitle" :hall="hallName" :age="age" :labels="labels")
</template>

<script>
import Seance from './Seance/Seance'
export default {
  name: 'SeanceList',
  components: {
    Seance
  },
  props: {
    seances: {
      type: Array,
      default: () => [],
      require: false
    },
    eventTitle: {
      type: String,
      default: 'Без названия',
      require: false
    },
    hallName: {
      type: String,
      default: 'Без названия',
      require: false
    },
    age: {
      type: String,
      default: '0+',
      require: false
    },
    labels: {
      type: Array,
      default: () => [],
      require: false
    }
  }
}
</script>
