<template lang="pug">
	v-card.premiere_el.d-flex.pa-4.pb-2(:dark='dark', max-width='100%' :title="title")
		v-flex( shrink)
			nuxt-link(:to='`/${PLACES}/${placeSlug}/${eventSlug}`')
				v-img.mr-4(v-ripple="{ class: 'white--text' }" :width='96', max-width='96', :height='96', :src='eventPhoto')
					template(v-slot:placeholder)
						v-row(class="fill-height ma-0" align="center" justify="center")
							v-progress-circular(indeterminate color="grey lighten-5")
		v-layout(column)
			v-layout(column).flex-wrap.teaser_text_wrap.grey--text
				nuxt-link(:to='`/${PLACES}/${placeSlug}/${eventSlug}`').d-flex.grow
					span.subtitle-2.white--text {{ title }}
				nuxt-link(:to='`/${PLACES}/${placeSlug}`' :title="placeName")  
					span.caption.mt-1.grey--text {{ placeName }}
			v-layout.mt-6(justify-space-between, align-center wrap)
				v-flex.white--text(v-if="computedDayOfDate").grow
					span.teaser_text_small с 
					span.font-weight-medium {{ computedDayOfDate }} 
					span.teaser_text_small {{$t('Schedule.monthFull')['m' + computedMonthOfDate].toLowerCase()}}
					span.font-weight-medium.pl-1 {{ computedTimeOfDate.toLowerCase() }}
				v-flex(d-flex justify-end).shrink
					v-btn(color='primary', nuxt, :to='`/${PLACES}/${placeSlug}/${eventSlug}`' v-if="price")
						span.caption.black--text.font-weight-medium {{ $t('currency.from') }} {{ price }} {{ $t('currency.rub') }}
</template>

<script>
import { PLACES } from '@/utils/consts/routes.js'
export default {
  name: 'Premiere',
  props: {
    dark: {
      type: Boolean,
      default: true,
      require: false
    },
    eventSlug: {
      type: String,
      default: '',
      require: false
    },
    placeSlug: {
      type: String,
      default: '',
      require: false
    },
    dateStart: {
      type: String,
      default: '',
      require: false
    },
    price: {
      type: Number,
      default: 0,
      require: false
    },
    title: {
      type: String,
      default: '',
      require: false
    },
    eventPhoto: {
      type: String,
      default: '',
      require: false
    },
    placeName: {
      type: String,
      default: '',
      require: false
    }
  },
  data: () => ({
    PLACES
  }),
  computed: {
    computedDayOfDate() {
      return new Date(this.dateStart).getDate()
    },
    computedMonthOfDate() {
      return new Date(this.dateStart).getMonth() + 1
    },
    computedTimeOfDate() {
      const date = new Date(this.dateStart)
      const time = date.getHours() + ':' + ('0' + date.getMinutes()).slice(-2) // todo -3 hours

      return time
    }
  }
}
</script>
<style scoped lang="scss">
.premiere_el {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.02),
    0px 1px 4px rgba(0, 0, 0, 0.01);
}
.teaser_text_small {
  font-size: 12px;
}
.teaser_text_wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
</style>
