<template lang="pug">
	v-row(wrap).mx-n3
		v-col(
			v-for="(item, index) in events"
			:key="item.slug + index"
			cols="12"
			sm="6"
			lg="4"
			v-if="item.price" /* выпилить когда надо будет */
			)
			Teaser(
				:title="item.title"
				:price="item.price"
				:eventPhoto="item.image"
				:eventSlug="item.slug"
				:dateStart="item.date"
				:placeSlug="item.event_place.slug"
				:placeName="item.event_place.name"
			)
</template>

<script>
import Teaser from '@/components/ui/Teasers/Teaser'
export default {
  components: { Teaser },
  props: {
    events: {
      type: Array,
      default: () => []
    }
  }
}
</script>
